html {
  min-width: 320px;
  margin-bottom: 0;
  height: 100%;
}
body {
  /*background: url("../static/basic.png");*/
  /*background-repeat: repeat;*/
  background: url("background.png") center top repeat-y;
  background-size: 2000px auto;
  min-width: 320px;
  margin: 0 auto;
}
header {
  height: auto;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  padding-bottom: 5%;
  width: 80%;
}
#load {
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}
h1 {
  font-family: Georgia, serif;
  font-size: 24px;
  display: block;
  color: white;
  padding: 30px 0;
  background: url("../static/header.png") center center no-repeat;
  background-size: 100% 70%;
  background-position: -15px;
  margin: 0 auto;
}
ul {
  list-style: none;
  padding: 0;
  /*height:50px;*/
}


#account_bar {
  margin: 0 auto;
  padding-left: 0;
  margin-bottom: 30px;
  width: 30%;
  text-align: center;
}
#login_signup li {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  height: 35px;
}
#login_signup a {
  line-height: 30px;
  display: block;
  color: white;
  font-family: Georgia, serif;
  text-decoration: none;
  width: 100px;
  background: url("../static/loginbg.png") center center no-repeat;
  background: black;
  cursor: url("cursorwhite.png"), auto;
}
@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
.animate {
  position: relative;
  height: 0;
  width: 100%;
  background: url("../static/clouds.png") center top repeat-x;
  padding-top: 10%;
  background-size: 40% auto;
  animation: animatedBackground 24s linear infinite;
}
.container {
  position: relative;
  height: 0;
  background: url("../static/navigation.png") center top no-repeat;
  background-size: contain;
  width: 100%;
  padding-top: 40%;
}
.container a {
  display: block;
  position: absolute;
  text-align: center;
  text-indent: -9999em;
  cursor: url("../static/cursor.png"), auto;
}
.box {
  position: relative;
  height: 0;
  width: 100%;
  padding-top: 30%;
  background: url("../static/footer.png")center bottom no-repeat;
  background-size: 100% 90%;
  text-align: center;
  margin: 0 auto;
}
.login {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.loginbar{
  display:block;
}

.loginbar input {
  margin-right: 30px;
}
footer img {
  position: absolute;
  top: 50%;
  width: 25px;
  height: auto;
}
footer p {
  font-family: Georgia, serif;
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  display: block;
  font-size: 12px;
}
.nav_mas {
  left: 48%;
  top: 10%;
  width: 30%;
  height: 15%;
}
.nav_his {
  left: 62%;
  top: 40%;
  width: 16%;
  height: 15%;
}
.nav_to {
  left: 43%;
  top: 78%;
  width: 13%;
  height: 15%;
}
.nav_my {
  left: 20%;
  top: 40%;
  width: 33%;
  height: 15%;
}

/*from navbar css*/

.bigbar {
  display: none;
}
.toggleicon {
  cursor: pointer;
  width: 40px;
  height: 40px;
  right: 6px;
  top: 40px;
  position: fixed;
  z-index: 99;
}
.menu {
  display: none;
  text-align: center;
  float: right;
  z-index: 99999;
}
.menu ul {
  margin-top: 5px;
  padding-left: 0;
  margin-bottom: 0;
  background: url("header.png") center center no-repeat;
  display:block;
}
.menu a {
  font-family: Georgia, serif;
  display: block;
  color: white;
  /*background: url("abase.png") center no-repeat;*/
  background-size: 110% 90%;
  margin-bottom: 2px;
  padding: 3px;
  font-size: 18px;
  text-decoration: none;
}
.menu.active {
  display: block;
  position: absolute;
  position: fixed;
  right: 6px;
  top: 75px;
}

.menu.active a {
  display: block;
}
/*from gallery.css*/

.save {
  height: 40px;
  width: 20%;
  margin: 0 auto;
  text-align: center;
}
button {
  margin-top: 20px;
}
#dialogoverlay {
  display: none;
  opacity: .8;
  position: fixed;
  top: 0px;
  left: 0px;
  background: #FFF;
  width: 100%;
  z-index: 10;
}
#dialogbox {
  display: none;
  position: fixed;
  background: #000;
  border-radius: 7px;
  width: 40%;
  z-index: 1000;
}
#dialogbox > div {
  background: #FFF;
  margin: 8px;
}
#dialogbox > div > #dialogboxhead {
  background: #666;
  font-size: 19px;
  padding: 10px;
  color: #CCC;
}
#dialogbox > div > #dialogboxbody {
  background: #333;
  padding: 20px;
  color: #FFF;
}
#dialogbox > div > #dialogboxfoot {
  background: #666;
  padding: 10px;
  text-align: right;
}
.cn-slideshow {
  width: 95%;
  height: auto;
  position: relative;
  margin: 0 auto;
  background: #fff;
  border-top: 5px solid #d0ab47;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.cn-loading {
  position: absolute;
  z-index: 999;
  text-indent: -9000px;
  opacity: 0.6;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
  background: #000 url("navbase.gif") no-repeat center center;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}
.cn-images {
  width: auto;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.cn-images img {
  display: none;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}
.cn-bar {
  background: transparent url(./images/bar.png) repeat top left;
  height: 30px;
  position: absolute;
  top: -40px;
  right: 40px;
  left: 40px;
  color: #f8f8f8;
  z-index: 999;
}
.cn-nav-content {
  position: absolute;
  top: 0px;
  height: 100%;
  right: 70px;
  left: 70px;
  overflow: hidden;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.cn-nav-content span {
  color: #777;
}
.cn-nav-content div.cn-nav-content-current {
  text-align: center;
  margin: 0 auto;
}
.cn-nav-content h2 {
  margin: 0;
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 12px;
  color: #fff;
}
.cn-nav-content-current span {
  display: none;
}
.cn-nav-content div.cn-nav-content-prev {
  display: none;
}
.cn-nav-content div.cn-nav-content-next {
  display: none;
}
.cn-nav-content div span {
  display: none;
}
.cn-nav a {
  position: absolute;
  top: 0px;
  height: 24px;
  width: 24px;
}
a.cn-nav-prev {
  left: 0px;
}
a.cn-nav-next {
  right: 0px;
}
.cn-nav a span {
  width: 46px;
  height: 46px;
  display: block;
  text-indent: -9000px;
  -moz-border-radius: 23px;
  -webkit-border-radius: 23px;
  border-radius: 23px;
  cursor: pointer;
  opacity: 0.9;
  position: absolute;
  top: 100%;
  left: 95%;
  margin: -22px 0 0 -22px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.cn-nav a.cn-nav-prev span {
  background: #666 url(./images/prev.png) no-repeat center center;
  background-size: 50% auto;
  height: 25px;
  width: 25px;
}
.cn-nav a.cn-nav-next span {
  background: #666 url(./images/next.png) no-repeat center center;
  background-size: 50% auto;
  height: 25px;
  width: 25px;
}
.cn-nav a div {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#mypageimg {
  display: inherit;
  margin: 0 auto;
  margin-top: 20px;
  width: auto;
  height: 80%;
}
#imageurl{
  display:none;
}
#mycollectionimg{
  height:500px;
  width:90%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  #login_signup a {
    line-height: 80px;
    display: block;
    color: white;
    font-family: Georgia, serif;
    text-decoration: none;
    width: 100px;
    background: url("../static/loginbg.png") center center no-repeat;
    background-size: auto 80px;
    cursor: url("cursorwhite.png"), auto;
  }
  header {
    width: 100%;
  }
  h1 {
    background-size: 100% 80%;
    font-size: 44px;
  }
  footer p {
    font-size: 16px;
    top: 35%;
  }
  /*from navbar css*/
  .bigbar {
    display: block;
  }
  .toggle {
    display: none;
  }
  .bigbar ul {
    padding-left: 0;
    display: table;
    width: 100%;
    height: 100px;
  }
  .bigbar li {
    display: table-cell;
    height: 100px;
    width: 20%;
    text-align: center;
    vertical-align: middle;
    background: url("navbase.png") center center no-repeat;
  }
  .bigbar li a {
    font-weight: bold;
    display: inline-block;
    cursor: url("cursor.png"), auto;
    color: black;
    font-family: Georgia, serif;
    text-decoration: none;
    background: url("abase.png") center no-repeat;
    background-size: auto 50px;
    line-height: 50px;
    width: 100%;
  }
  /*from gallery.css*/
  .cn-slideshow {
    width: 90%;
    height: 500px;
    position: relative;
    margin: 0 auto;
    background: #fff;
    border-top: 5px solid #d0ab47;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  }
  .cn-loading {
    position: absolute;
    z-index: 999;
    text-indent: -9000px;
    opacity: 0.6;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;
    background: #000 url("navbase.gif") no-repeat center center;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
  }
  .cn-images {
    width: auto;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
  }
  .cn-images img {
    display: none;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
  }
  .cn-bar {
    background: transparent url(./images/bar.png) repeat top left;
    height: 70px;
    position: absolute;
    top: auto;
    bottom: 0px;
    right: 50px;
    left: 50px;
    color: #f8f8f8;
    z-index: 999;
  }
  .cn-nav-content {
    position: absolute;
    top: 0px;
    height: 100%;
    right: 70px;
    left: 70px;
    overflow: hidden;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  .cn-nav-content span {
    color: #777;
  }
  .cn-nav-content div.cn-nav-content-current {
    text-align: center;
    width: 400px;
    margin: 0 auto;
    padding-top: 25px;
  }
  .cn-nav-content h2 {
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 24px;
    font-family: Georgia, serif;
    font-style: italic;
  }
  .cn-nav-content h2 {
    font-size: 18px;
    color: #fff;
  }
  .cn-nav-content-current span {
    display: none;
  }
  .cn-nav-content div.cn-nav-content-prev {
    display: none;
  }
  .cn-nav-content div.cn-nav-content-next {
    display: none;
  }
  .cn-nav-content div span {
    display: none;
  }
  .cn-nav a {
    position: absolute;
    top: 0px;
    height: 70px;
    width: 70px;
  }
  a.cn-nav-prev {
    left: 0px;
  }
  a.cn-nav-next {
    right: 0px;
  }
  .cn-nav a span {
    width: 46px;
    height: 46px;
    display: block;
    text-indent: -9000px;
    -moz-border-radius: 23px;
    -webkit-border-radius: 23px;
    border-radius: 23px;
    cursor: pointer;
    opacity: 0.9;
    position: absolute;
    top: 50%;
    left: 50%;
    background-size: 17px 25px;
    margin: -23px 0 0 -23px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .cn-nav a.cn-nav-prev span {
    height: 46px;
    width: 46px;
  }
  .cn-nav a.cn-nav-next span {
    height: 46px;
    width: 46px;
  }
  .cn-nav a div {
    width: 0px;
    height: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
}
@media (min-width: 992px) {
  /*from gallery.css*/
  .cn-slideshow {
    width: 90%;
    height: 500px;
    position: relative;
    margin: 0 auto;
    background: #fff;
    border-top: 5px solid #d0ab47;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  }
  .cn-loading {
    position: absolute;
    z-index: 999;
    text-indent: -9000px;
    opacity: 0.6;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;
    background: #000 url("./images/ajax-loader.gif") no-repeat center center;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
  }
  .cn-images {
    width: auto;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
  }
  .cn-images img {
    display: none;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
  }
  .cn-bar {
    background: transparent url(./images/bar.png) repeat top left;
    height: 90px;
    position: absolute;
    bottom: 0px;
    right: 50px;
    left: 50px;
    color: #f8f8f8;
    z-index: 999;
  }
  .cn-nav-content {
    position: absolute;
    top: 0px;
    height: 100%;
    right: 70px;
    left: 70px;
    overflow: hidden;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }
  .cn-nav-content div {
    float: left;
    width: 130px;
    color: #aaa;
  }
  .cn-nav-content span {
    color: #777;
  }
  .cn-nav-content div.cn-nav-content-current {
    text-align: center;
    width: 280px;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -140px;
    padding-top: 0;
  }
  .cn-nav-content h2 {
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 24px;
    font-family: Georgia, serif;
    font-style: italic;
  }
  .cn-nav-content h3 {
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 12px;
    font-family: Georgia, serif;
    font-style: italic;
  }
  .cn-nav-content h2 {
    font-size: 18px;
    color: #fff;
  }
  .cn-nav-content-current span {
    color: #d0ab47;
  }
  .cn-nav-content div.cn-nav-content-prev {
    display: block;
    margin-left: 20px;
  }
  .cn-nav-content div.cn-nav-content-next {
    display: block;
    text-align: right;
    margin-right: 20px;
    float: right;
  }
  .cn-nav-content div span {
    display: block;
    padding-top: 18px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
  }
  .cn-nav > a {
    position: absolute;
    top: 0px;
    height: 70px;
    width: 70px;
  }
  a.cn-nav-prev {
    left: 0px;
  }
  a.cn-nav-next {
    right: 0px;
  }
  .cn-nav a span {
    width: 46px;
    height: 46px;
    display: block;
    text-indent: -9000px;
    -moz-border-radius: 23px;
    -webkit-border-radius: 23px;
    border-radius: 23px;
    cursor: pointer;
    opacity: 0.9;
    position: absolute;
    top: 50%;
    left: 50%;
    background-size: 17px 25px;
    margin: -23px 0 0 -23px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .cn-nav a.cn-nav-prev span {
    background: #666 url(./images/prev.png) no-repeat center center;
  }
  .cn-nav a.cn-nav-next span {
    background: #666 url(./images/next.png) no-repeat center center;
  }
  .cn-nav a div {
    width: 0px;
    height: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .cn-nav a:hover span {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    opacity: 0.6;
    margin: -50px 0 0 -50px;
    background-size: 22px 32px;
    background-color: #a8872d;
  }
  .cn-nav a:hover div {
    width: 90px;
    height: 90px;
    background-size: 120% 120%;
    margin: -45px 0 0 -45px;
    -moz-border-radius: 45px;
    -webkit-border-radius: 45px;
    border-radius: 45px;
  }
}
